* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: #F9F9F9;
  margin: 0;
}

.wrapper {
  width: 1350px;
  margin-right: auto;
  margin-left: auto;
}