@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Bold.woff) format('woff');
  font-weight: 700;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Medium.woff) format('woff');
  font-weight: 500;
  font-size: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url(../fonts/Gilroy-Regular.woff) format('woff');
  font-weight: normal;
  font-size: normal;
  font-display: swap;
}