@use "../mixins" as *;

footer {
  background-color: #333333;
  padding-top: 100px;
  padding-bottom: 130px;
}

.footer_info {
  display: flex;
  justify-content: space-between;
  &_block {
    width: 193px;
    display: flex;
    justify-content: space-between;
  }
  &_link {
    @include font(500, 18, 21);
    color: #FFFFFF;
  }
}

.footer_social_block {
  display: flex;
  width: 70px;
  justify-content: space-between;
}

.footer_social_vk {
  width: 25px;
  height: 25px;
  @include cover("../images/vk.svg");
}

.footer_social_insta {
  width: 25px;
  height: 25px;
  @include cover("../images/inst.svg");
}

.footer_phone {
  width: 193px;
  display: flex;
  justify-content: end;
  color: #fff;
  &::before {
    content:url("../images/carbon_phone_white.svg");
    margin-right: 9px;
    vertical-align: middle;
  }
}